$primary: #18293c;

@import "~bootstrap/dist/css/bootstrap.rtl.min.css";
@import '~@fortawesome/fontawesome-free/css/all.min.css';

:root, [data-bs-theme=light] {
  --bs-primary-rgb: 24, 41, 60;
}

.btn-primary{
  --bs-btn-bg: #{$primary};
  --bs-btn-border-color: #{$primary};
  --bs-btn-hover-bg: #3a4552;
  --bs-btn-hover-border-color: #3a4552;
}
// 108,117,125